.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color);
}

.hovedside {

  background-color: var(--a-bg-subtle);
}

.header {
display: flex;
  color: var(--a-text-default);
  height: 100px;
  width: 100%;
  border-bottom: var(--a-border-action-hover);
}