
.hovedside {
  background-color: var(--a-bg-subtle);
  display: flex;
 }

.meny {
  display: flex;
  max-width: 10vw;
}

.meny button {
  width: 100%;
}

.innhold {
  display: flex;
  width: 80vw;
}
