---
version: '2'
services:
  kafka:
    image: docker.io/bitnami/kafka:3.4.1-debian-11-r55
    networks:
      - my-net
    ports:
      - "9092:9092"
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_BROKER_ID=0
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@127.0.0.1:9093
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - ALLOW_PLAINTEXT_LISTENER=yes
      - BITNAMI_DEBUG=true

  postgres:
    image: "postgres:12.11"
    ports:
      - "1337:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRESQL_FSYNC: "off"
      POSTGRESQL_FULL_PAGE_WRITES: "off"
    volumes:
      - ${PWD}/local-db-init.sql:/docker-entrypoint-initdb.d/init.sql



networks:
  my-net:
    driver: bridge
