.notifikasjon_bjelle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid var(--a-deepblue-800);
  flex-shrink: 0;

  &.er_apen{
    border-color: transparent;
  }

  &.uleste {
    background-color: var(--a-deepblue-800);
  }

  &.ingen_uleste {
    svg path {
      fill: var(--a-deepblue-800);
      stroke: var(--a-deepblue-800);
    }

    p {
      color: var(--a-deepblue-800);
    }
  }
}

.notifikasjon_bjelle-knapp {
  display: flex;
  flex-direction: column;
  color: var(--a-text-on-neutral);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: none;

  p {
    font-weight: 600;
  }
}

.notifikasjon_bjelle-knapp:focus-visible {
  outline-style: solid;
}

@media (hover: hover) {
  .notifikasjon_bjelle-knapp:hover,
  .notifikasjon_bjelle-knapp:focus-visible {
    &.uleste {
      border: none;
      text-decoration: underline;
      color: var(--a-text-on-inverted);
      background-color: var(--a-deepblue-700);
    }
    &.ingen_uleste {
      border: none;
      text-decoration: underline;
      color: var(--a-deepblue-800);
      background-color: var(--a-text-on-inverted);

      svg path{
        stroke: var(--a-deepblue-800);
        stroke-width: 1px;
        fill: var(--a-text-on-inverted);
      }
    }
  }
}

.notifikasjon_bjelle-ikon {
  --width: 32px;
  --height: 32px;
  --ulest-diameter: 22px;
  --ulest-top: calc(var(--height) * 0.2);
  --ulest-left: calc(var(--width) * 0.05);
  position: relative;
  width: var(--width);
  height: var(--height);
}

.notifikasjon_bjelle-ikon__ulest-sirkel {
  position: absolute;
  opacity: 1;
  z-index: 4;
  top: -10px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--ulest-diameter);
  width: var(--ulest-diameter);
  border-radius: 50%;
  background-color: var(--a-red-500);
  transform: translate(var(--ulest-left), var(--ulest-top));
  animation: synlig 1s;
}

.notifikasjon_bjelle-ikon__ulest-antall {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.notifikasjon_bjelle-understrek {
  width: 4.5rem;
  height: 0.25rem;
  margin-top: 0.25rem;
  background-color: var(--a-deepblue-500);
}

.notifikasjon_bjelle-understrek--closed {
  visibility: hidden;
}

.notifikasjon_bjelle-ikon-svinger > svg {
  top: 100px;
  animation: sving 1s;
  transform-origin: center 5px;
}

@keyframes sving {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@keyframes synlig {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

