.notifikasjon-element {
  display: flex;
  border-bottom: 1px solid var(--a-gray-200);
  width: 100%;

  &:hover {
    background-color: var(--a-gray-50);

    .notifikasjon-element-pil {
      transform: translateX(25%);
    }
  }
}

.notifikasjon-element-left-border {
  width: 8px;
  flex-shrink: 0;
}

.notifikasjon-element-left-border.gul {
  background-color: var(--a-orange-200);
}

.notifikasjon-element-left-border.blå {
  background-color: var(--a-lightblue-600);
}

.notifikasjon-element-innhold {
  padding: 16px 24px;
  flex-grow: 1;
}

.notifikasjon-element-melding {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.notifikasjon-element-ikon {
  margin-top: 2px;
  flex-shrink: 0;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.notifikasjon-element-pil {
  display: flex;
  align-items: center;
  padding-right: 16px;
  transition: all 100ms linear;
}

.navds-dropdown__list-item a.navds-link:focus,
.navds-dropdown__list-item a.navds-link:focus-visible {
  background: var(--a-blue-100);
  outline: 2px solid black;
}
