name: ci/cd
on:
  push:
    paths:
      - 'app/**'
      - 'config/**'
  pull_request:
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12.10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 1337:5432
      zookeeper:
        image: docker.io/bitnami/zookeeper:latest
        ports:
          - 2181:2181
        env:
          ALLOW_ANONYMOUS_LOGIN: yes
        options: >-
          --health-cmd "echo mntr | nc -w 2 -q 2 localhost 2181"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      kafka:
        image: docker.io/bitnami/kafka:latest
        ports:
          - 9092:9092
        env:
          KAFKA_BROKER_ID: 1
          KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
          KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: true
          ALLOW_PLAINTEXT_LISTENER: yes

    steps:
      - uses: actions/checkout@v3

      - run: PGPASSWORD=postgres psql -U postgres -h localhost -p 1337 -f ./local-db-init.sql

      - uses: actions/setup-java@v2
        with:
          java-version: '17.x'
          distribution: temurin

      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - run: mvn -B package
        working-directory: app

      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.2
        if: github.event_name == 'pull_request'
        with:
          paths: ${{ github.workspace }}/app/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 0
          min-coverage-changed-files: 0
          title: ":space_invader: jacococo go nogo :space_invader:"

      - name: Login to GitHub Package Repository
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container image
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v2
        with:
          context: app
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/arbeidsgiver-notifikasjon-produsent-api:${{ github.sha }}
            ghcr.io/${{ github.repository }}/arbeidsgiver-notifikasjon-produsent-api:latest
          cache-from: type=registry,ref=${{ github.repository }}/arbeidsgiver-notifikasjon-produsent-api:latest
          cache-to: type=inline

  deploy:
    needs: [build]
    runs-on: ubuntu-20.04
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    strategy:
      matrix:
        cluster:
          - dev-gcp
          - prod-gcp
        app:
          - bruker-api
          - bruker-api-writer
          - produsent-api
          - kafka-reaper
          - statistikk
          - ekstern-varsling
          - replay-validator
          - kafka-backup
          - skedulert-utgaatt
          - skedulert-harddelete
          - dataprodukt
        exclude:
          - cluster: prod-gcp
            app: dataprodukt

    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        name: "${{ matrix.cluster }}: deploy ${{ matrix.app }}"
        env:
          IMAGE: ghcr.io/${{ github.repository }}/arbeidsgiver-notifikasjon-produsent-api:${{ github.sha }}
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: ${{ matrix.cluster }}
          RESOURCE: config/${{ matrix.cluster }}-${{ matrix.app }}.yaml