name: deploy dev manual
on:
  workflow_dispatch:

jobs:
  dev-deploy:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        cluster: [ dev-gcp ]
        app: [ bruker-api, produsent-api, kafka-reaper, statistikk, ekstern-varsling, replay-validator , autoslett ]
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        name: "${{ matrix.cluster }}: deploy ${{ matrix.app }}"
        env:
          IMAGE: ghcr.io/${{ github.repository }}/arbeidsgiver-notifikasjon-produsent-api:${{ github.sha }}
          REF: ${{ github.sha }}
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: ${{ matrix.cluster }}
          RESOURCE: config/${{ matrix.cluster }}-${{ matrix.app }}.yaml